/****************************************
 * general purpose css-only components  *
 ****************************************/

.fm-panel {
  background-color: #fff;

  border: 2px solid red;

  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;

  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;

  margin-bottom: 30px;
  padding: 10px 10px 20px 10px;

  overflow: hidden;
}

.fm-panel > h4 {
  background-color: lightgreen;
  margin: -10px -10px 10px -10px;
  padding: 10px 10px 10px 10px;
}


.fm-right {
  text-align: right;
}



/****************************************
 * angular components                   *
 ****************************************/

.fm-rating {
  color: lightblue;
  margin: 0;
  padding: 0;

}

ul.fm-rating {
  display: inline-block block;
}

.fm-rating-pointer {
  cursor: pointer;
}

.fm-rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.fm-rating .fm-selected {
  color:gold;
}

.fm-rating .fm-hover {
  text-shadow: white 0 0  2px,
  white 0 0  2px,
  white 0 0  2px,
  white 0 0  2px,
  blue  0 0 10px;
}

fm-rating a {
  visibility: hidden;
  padding-left: 7px;
}

fm-rating:hover a {
  visibility: visible;
}


.fm-deliver-to {
  display: inline-block;
  width: 200px;
}


input.ng-invalid.ng-dirty {
  border-color: deepskyblue;
  -webkit-box-shadow: 0 0 6px violet;
  -moz-box-shadow: 0 0 6px violet;
  box-shadow: 0 0 6px violet;
}




/****************************************
 * route specific css                   *
 ****************************************/


/* customer */

.fm-customer-bkg {
  background-image: url('http://i2.cdn.cnn.com/cnnnext/dam/assets/150827094014-restaurant-design-verandah-super-169.jpg');
  opacity: 0.8;
  height: 700px;
}


/* restaurant list */

.fm-restaurant-list {
  min-height: 200px !important;
}

.fm-restaurant-list table {
  margin: -10px -20px -20px -10px;
  width:800px;
}

.fm-restaurant-list th:first-child {
  width: 500px;
}

.fm-restaurant-list th {
  width: 100px;
}

.fm-restaurant-list img {
  margin-right: 10px;
  width: 150px;
  height: 150px;
}


/* menu */

.fm-restaurant  {
  margin-bottom: 20px;
}

.fm-restaurant h3 {
  margin-top: 0;
}

.fm-restaurant img {
  width: 150px;
  height: 150px;
}

.fm-restaurant .fm-rating {
  display: block;
}

.fm-menu-list li {
  list-style-type: none;
}

.fm-menu-list li span {
  padding-right: 20px;
}

.fm-menu-list a {
  color: inherit;
}

.fm-menu-list a:hover {
  text-decoration: none;
  color: inherit;
}

.fm-menu-list .icon-plus-sign {
  visibility: hidden;
}

.fm-menu-list li:hover .icon-plus-sign {
  visibility: visible;
}

.fm-menu-list li:hover {
  color: black;
}

.fm-menu-list ul li {
  text-align: center;
}

.fm-cart li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fm-cart .icon-remove-sign {
  visibility: hidden;
}

.fm-cart li:hover .icon-remove-sign {
  visibility: visible;
}

.fm-cart form {
  padding-left: 2px;
}

.fm-cart p {
  padding-left: 20px;
  padding-top: 5px;
}


/* checkout */

.fm-checkout table {
  width: 960px;
  margin-left: -10px;
}

.fm-checkout table th:nth-child(2),
.fm-checkout table td:nth-child(2) {
  width: 100%;
  text-align: left;
}

.fm-checkout table td:nth-child(1) input {
  width: 30px;
}

.fm-checkout table th,
.fm-checkout table td {
  text-align: right;
}

.fm-checkout table tr:last-child th {
  text-align: right;
}

input.ng-invalid {
  border: 1px solid red;
}
.home-search .type-location {
  padding: 20px 110px 20px 50px;
  background: #fff;
  width: 500px;
  height: 54px;
  border: 0;
  outline: 0;
  color: #3e4152;
  font-size: 14px;
  text-overflow: ellipsis;
  border-radius: 3px 0 0 3px;
  top: 40%;
  left:-96%;
}
.home-search .show-restaurants {
  width: 200px;
  height: 54px;
  background-color: #fc8019;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  float: left;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: -40%;
  top: 0%;
}
.home-search {
  width: 600px;
  height: 10px;
  border-radius: 3px;
  box-shadow: 0 26px 64px 0 rgba(0,0,0,.6);
  margin: 40px auto 150px;
  position: relative;
  top: 30%;

}
*, :after, :before {
  box-sizing: border-box;
}
::selection {
  color: #f5861f;
  background: #f5f5f5;
}
div {
  display: block;
}
.home-search .type-location-container {
  position: relative;
  float: left;
}
.icon-swgy-magnifier:before {
  position: absolute;
  left: 18px;
  top: 19px;
  font-size: 14px;
  color: #686b78;
  content: "\f00e";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.hero-title {
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  text-shadow: 1px 1px 4px rgba(0,0,0,.8);
  top:30%;
}
.list-resutrant{
  list-style-type: none;margin: 0;padding: 0;width:500px;

}
.li-resturant{
  background: #fff;display:block;cursor: pointer;top: 50%;height: 30px;

}
li:hover{background-color: #f6f6f6;}