<!doctype html>
<html lang="en" ng-app="orderYourMealApp" xmlns="http://www.w3.org/1999/html">
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5734381998772509",
          enable_page_level_ads: true
      });
  </script>
  <meta charset="utf-8">
  <title>OrderYourMeal</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap-united.css">
  <link rel="stylesheet" href="css/new.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">

</head>
<body ng-controller="CustomerController">

<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card-2">
    <a href="#/"><img ng-src="../img/logo"style="height: 45px;width: 140px"></a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#how-it-works"  class="w3-bar-item w3-button">How it Works</a>
      <a href="#who-we-are" class="w3-bar-item w3-button">Who we are</a>
      <a href="#help" class="w3-bar-item w3-button">Help</a>
      <a href="#feed" class="w3-bar-item w3-button">Feedback</a>
      <a class="w2-bar-item w3-button" ng-show="loginShow" ng-click="loginGo();">Login</a>
      <a class="w2-bar-item w3-button" ng-show="logoutShow" ng-click="logout();">Logout</a>
    </div>
  </div>
</div>

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <!--<div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#/">OrderYourMeal</a>
      <ul class="nav">
        <li ><a href="#/">Home</a></li>
        <li><a href="#/how-it-works">How it works</a></li>
        <li<a href="#/who-we-are">Who we are</a></li>
      </ul>

      <ul class="nav pull-right">
        <li ng-class="{active: routeIs('/help')}"><a href="#/help">Help</a></li>
        <li ng-class="{active: routeIs('/feed')}"><a href="#/feed">Feedback</a></li>
      </ul>
    </div>
  </div>
-->


  <div style="background-image: url('https://cdn.insuranceinbox.com/alpha/newbg.png');">
    <ng-view>
    </ng-view>
  </div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>
-->

<script src="lib/angular/angular.js"></script>
<script src='lib/nprogress.js'></script>
<link rel='stylesheet' href='lib/nprogress.css'/>
<script src="lib/angular-spinner.min.js"></script>
<link src="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet"/>
<!--<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />-->
<script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/CheckoutController.js"></script>
<script src="js/controllers/CustomerController.js"></script>
<script src="js/controllers/MenuController.js"></script>
<script src="js/controllers/NavbarController.js"></script>
<script src="js/controllers/RestaurantsController.js"></script>
<script src="js/controllers/ThankYouController.js"></script>
<script src="js/directives/fmDeliverTo.js"></script>
<script src="js/directives/fmCheckboxList.js"></script>
<script src="js/directives/fmRating.js"></script>
<script src="js/services/alert.js"></script>
<script src="js/services/customer.js"></script>
<script src="js/services/localStorage.js"></script>
<script src="js/services/cart.js"></script>
<script src="js/services/Restaurant.js"></script>
<script src="js/controllers/feedBackController.js"></script>
<script src="js/controllers/loginController.js"></script>
<script src="js/controllers/signupController.js"></script>
</body>
</html>
