<br><br>
<div class="fm-customer-bkg">
  <div class="loader" ng-show="showLoader"></div>
<br><br><br>
  <div class="home-search">
    <h2 class="hero-title">Order from restaurants near you</h2>
    <div class="clearfix">
      <div class="type-location-container">
        <input  type="text" class="type-location" name="location" placeholder="Type delivery location (landmark, road or area)"  ng-model="xyz" ng-change="searchLocation(xyz);"/>
        <div class="locate-me" ng-click="nearme();">
          <span class="locate-me-divider"></span>
          <span class="locate-me-icon icon-swgy-pointer"></span>
          <span class="locate-me-text">Locate Me</span>
        </div>
        <div>
  <ul class="list-resutrant">
    <li class="li-resturant"  ng-repeat="location in locations" ng-click="getLocation(location);" value="{{location.entity_id}}">{{location.title}}</li>
  </ul>
      </div>
        <div class="show-restaurants" ng-click="findRestaurants();">
          <span>SHOW RESTAURANTS</span>
        </div>
          <span class="icon-swgy-magnifier"></span>

      </div>
    </div>
  </div>
<!--
<form class="form-horizontal" name="customerForm" novalidate>
  <div class="modal">
    <div class="modal-header">
      <h3>Get Started</h3>
    </div>
    <div class="modal-body">

      <div class="control-group">
        <label class="control-label" for="customerName">Your Name</label>
        <div class="controls">
          <input type="text" id="customerName" placeholder="Enter You Name"
                 class="input-medium"
                 ng-model="customerName" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">City</label>
        <div class="controls">
          <input list="browsers"  type="text" ng-model="xyz" ng-change="searchLocation(xyz);" required>
          &lt;!&ndash;<datalist id="browsers">
            <option  ng-repeat="location in locations" value="{{location.title}}"  ng-click="getLocation(location);">
          </datalist>&ndash;&gt;
         <ul class="demo" style="list-style-type: none;margin: 0;padding: 0;width:220px">
            <li class="benefits"  style=" background: #cce5ff;display:block;" ng-repeat="location in locations" ng-click="getLocation(location);"  value="{{location.entity_id}}" ng-model="suggestion" >{{location.title}}</li>
          </ul>
          &lt;!&ndash;<select type="text" id="Location" placeholder="Enter Your Location"
                 class="input-xlarge"
                  ng-model="customerLocation" required>

            <option ng-repeat="location in locations" value="{{location.entity_id}}">{{location.title}}</option>
          </select>&ndash;&gt;
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="address">Delivery Address</label>
        <div class="controls">
          <input type="text" id="address" placeholder="Enter Your Address"
                 class="input-xlarge"
                 ng-model="customerAddress" required>
        </div>
      </div>

  </div>
    <div class="modal-footer">
      <button class="btn btn-success"
              ng-disabled="customerForm.$invalid"
              ng-click="findRestaurants(customerName, customerAddress)">Find Restaurants!</button>
    </div>
  </div>
</form>
-->
