<div class="container">
    <form id="contact">
        <h3>Login Form</h3>
        <fieldset>
            <input placeholder="Email Address" type="email" tabindex="2" required ng-model="email">
        </fieldset>
        <fieldset>
            <input placeholder="Password" type="password" tabindex="3" required ng-model="password">
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" ng-click="login();" data-submit="...Sending">Login</button>
        </fieldset>
            <button type="submit" ng-click="signup();">Sign up</button>
    </form>
</div>
