<!--
<fm-deliver-to></fm-deliver-to>
-->


<div class="loader" ng-show="showLoader"></div>
<br><br><br>
<div ng-show="loadResturants">
<div class="container fm-restaurant">

  <div class="row">
    <div class="span2">
      <img ng-src="{{menuimg.featured_image}}" class="img-rounded">
    </div>

    <div class="span10">
      <h3>{{menuimg.name}}</h3>

      <div class="row">
        <div class="span2">
          <div>{{menuimg.location.address}}</div>

          <fm-rating ng-model="$parent.menuimg.user_rating.aggregate_rating" readonly="true"></fm-rating>
          <fm-rating ng-model="$parent.menuimg.price_range" symbol="₹" readonly="true"></fm-rating>

        </div>
        <div class="span4">
          <div>{{restaurant.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="rowfluid">

  <div class="span8 fm-panel fm-menu-list">
    <h4>Menu</h4>


    <ul>
      <li ng-repeat="menuItem in restaurant.menuItems">
        <a class="add-itemhref" ng-click="cart.add(menuItem, restaurant)">
        <div class="addButton">Add</div></a>
        <span>{{menuItem.name}}</span><br>
          <span>₹{{menuItem.price}}</span>
      </li>
    </ul>

  </div>

  <div class="span4 fm-panel fm-cart">
    <h4>Your order</h4>
    <form>
      <ul class="unstyled">
        <li ng-repeat="item in cart.items">
          <a href ng-click="cart.remove(item)"><div class="addButton">remove</div></a></a>
          {{item.qty}} &times; {{item.name}}
        </li>
      </ul>
      <div class="pull-right" ng-show="cart.items.length">
        <a  ng-disabled="!cart.items.length" class="btn" ng-click="checkout();">Checkout</a>
      </div>
      <p>
        <b>Total: ₹{{cart.total()}}</b>
      </p>
    </form>
  </div>
</div>
</div>