<!--
<fm-deliver-to></fm-deliver-to>
-->


<br><br><br>
<div>
<div class="container fm-restaurant">

  <div>
    <div>
      <img ng-src="{{menuimg.featured_image}}" class="img-rounded">
    </div>

    <div class="res_detail">
      <h3>{{menuimg.name}}</h3>
      <div  class="res_detail_in">{{menuimg.location.address}}</div>
      <div  class="res_detail_in">Cuisines:{{menuimg.cuisines}}</div>

      <div  class="res_detail_in"> <fm-rating ng-model="$parent.menuimg.user_rating.aggregate_rating" readonly="true"></fm-rating></div>
      <div  class="res_detail_in"> <fm-rating ng-model="$parent.menuimg.price_range" symbol="₹" readonly="true"></fm-rating></div>

        </div>
  </div>
</div>
</div>





<div class="menu_container">

  <div class="menu_item">
    <h4>Menu</h4>


    <ul>
      <li ng-repeat="menuItem in restaurant">
        <a class="add-itemhref" ng-click="cart.add(menuItem, restaurant)">
        <div class="addButton">Add</div></a>
        <span>{{menuItem.name}}</span><br>
          <span>₹{{menuItem.price}}</span>
      </li>
    </ul>

  </div>

  <div class="cart">
    <h4>Your order</h4>
    <form>
      <ul class="unstyled">
        <a><li style="height: 50px;" ng-repeat="item in cart.items">
        <a href ng-click="cart.remove(item)"><div class="addButton">remove</div></a></a>
          {{item.qty}} &times; {{item.name}}
        </li>
      </ul>
      {{cart.message}}
      <div class="pull-right1" ng-show="cart.items.length">
        <p>
          <b style="margin-top: 5px;position: absolute;left: 10%">Total: ₹{{cart.total()}}</b>
        </p>
        <a  ng-disabled="!cart.items.length" class="btn" ng-click="checkout();">Checkout</a>
      </div>
    </form>
  </div>
</div>
